<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Sucesso -->
		<target name="logInfoCredentialsFile" xsi:type="File" fileName="../../../Logs/Credentials/Info/file.txt" />
		
		<target name="logInfoMarkerFile" xsi:type="File" fileName="../../../Logs/Marker/Info/file.txt" />
		
		<target name="logInfoProfilefile" xsi:type="File" fileName="../../../Logs/Profile/Info/file.txt" />
		
		<target name="logInfoSgpFile" xsi:type="File" fileName="../../../Logs/SGP/Info/file.txt" />
		
		<target name="logInfoThemeFile" xsi:type="File" fileName="../../../Logs/Theme/Info/file.txt" />
		
		<target name="logInfoUserFile" xsi:type="File" fileName="../../../Logs/User/Info/file.txt" />
		
		<!-- Erro -->
		<target name="logErrorCredentialsFile" xsi:type="File" fileName="../../../Logs/Credentials/Error/file.txt" />
		
		<target name="logErrorMarkerFile" xsi:type="File" fileName="../../../Logs/Marker/Error/file.txt" />
		
		<target name="logErrorProfilefile" xsi:type="File" fileName="../../../Logs/Profile/Error/file.txt" />
		
		<target name="logErrorSgpFile" xsi:type="File" fileName="../../../Logs/SGP/Error/file.txt" />
		
		<target name="logErrorThemeFile" xsi:type="File" fileName="../../../Logs/Theme/Error/file.txt" />
		
		<target name="logErrorUserFile" xsi:type="File" fileName="../../../Logs/User/Error/file.txt" />
	</targets>

	<rules>
		<!-- Sucesso -->
		<logger name="loggerInfoCredentialsFile" minlevel="Info" writeTo="logInfoCredentialsFile" />
		
		<logger name="loggerInfoMarkerFile" minlevel="Info" writeTo="logInfoMarkerFile" />
		
		<logger name="loggerInfoProfilefile" minlevel="Info" writeTo="logInfoProfilefile" />
		
		<logger name="loggerInfoSgpFile" minlevel="Info" writeTo="logInfoSgpFile" />
		
		<logger name="loggerInfoThemeFile" minlevel="Info" writeTo="logInfoThemeFile" />
		
		<logger name="loggerInfoUserFile" minlevel="Info" writeTo="logInfoUserFile" />

		<!-- Error -->
		<logger name="loggerErrorCredentialsFile" minlevel="Info" writeTo="logErrorCredentialsFile" />

		<logger name="loggerErrorMarkerFile" minlevel="Info" writeTo="logErrorMarkerFile" />

		<logger name="loggerErrorProfilefile" minlevel="Info" writeTo="logErrorProfilefile" />

		<logger name="loggerErrorSgpFile" minlevel="Info" writeTo="logErrorSgpFile" />

		<logger name="loggerErrorThemeFile" minlevel="Info" writeTo="logErrorThemeFile" />

		<logger name="loggerErrorUserFile" minlevel="Info" writeTo="logErrorUserFile" />
	</rules>
</nlog>